@import "tailwindcss";

@theme {
  /* Fonts */
  --font-primary: "inter", "sans-serif";
  --font-display: "righteous", "sans-serif";

  /* Colors */
  --color-primary: oklch(0.5748 0.1509 50.48);
  --color-primary-hover: oklch(0.4853 0.1266 50.93);
  --color-primary-active: oklch(0.3931 0.1003 52.58);
  --color-secondary: oklch(0.4821 0.0796 216.35);
  --color-secondary-hover: oklch(0.3957 0.067 217.21);
  --color-secondary-active: oklch(0.3148 0.0553 217.76);
  --color-secondary-light: oklch(0.8577 0.0466 211.83);
  --color-secondary-ultra-light: oklch(0.9588 0.0187 213.41);
  --color-gray-dark: oklch(0.4926 0 0);
  --color-gray-medium: oklch(0.8297 0 0);
  --color-gray-light: oklch(0.9791 0 0);
  --color-logo: oklch(0.6989 0.1703 49.56);
}

@layer base {
  body {
    font-family: var(--font-primary);
  }

  button,
  .profile-link,
  .followers-link,
  .following-link,
  .post-link {
    cursor: pointer;
  }
}

@layer components {
  .input-field {
    background-color: var(--color-gray-light);
    color: var(--color-gray-light);
  }
  .active {
    color: var(--color-primary);
  }
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-4px);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.25s ease-out forwards;
  }

  .animate-fade-out {
    animation: fadeOut 0.5s ease-in forwards;
  }
}
